:root {
  /* Colors */
  --slate-900: #1f314f;
  --slate-500: #68778d;
  --slate-300: #d5e1ef;
  --white: #ffffff;
  --shadow: rgba(0, 0, 0, 0.047);

  /* Spacing */
  --space-xl: 40px;
  --space-l: 24px;
  --space-m: 16px;

  /* Font family */
  --font-outfit: "Outfit", sans-serif;

  /* Font sizes */
  --text-m: 22px;
  --text-s: 15px;

  /* Line heights */
  --line-normal: 120%;
  --line-loose: 140%;

  /* Font weights */
  --weight-bold: 700;
  --weight-regular: 400;

  /* Letter spacing */
  --letter-spacing-wide: 0.2px;
  --letter-spacing-default: 0px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--slate-300);
}

.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.text-container {
  display: flex;
  width: auto;
  flex-direction: column;
  gap: 16px;
  text-align: center;
  padding: 0px 16px;
}

.textTitle {
  font-family: var(--font-outfit);
  font-weight: var(--weight-bold);
  font-size: var(--text-m);
  line-height: var(--line-normal);
}

.textBody {
  font-family: var(--font-outfit);
  font-weight: var(--weight-regular);
  font-size: var(--text-s);
  line-height: var(--line-loose);
  letter-spacing: var(--letter-spacing-wide);
}

.flex-component {
  display: flex;
  flex-direction: column;
  max-width: 320px;
  background-color: var(--white);
  align-items: center;
  gap: 24px;
  padding: 16px 16px 40px 16px;
  border-radius: 10px;
  filter: drop-shadow(0 25px 25px var(--shadow));
}

.image-qr-code {
  max-width: 288px;
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.attribution {
  font-size: 11px;
  font-family: var(--font-outfit);
  color: var(--slate-900);
  text-align: center;
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 24px; /* Height of the footer */
}

.attribution a {
  color: hsl(228, 45%, 44%);
  font-family: var(--font-outfit);
}

@media screen and (max-width: 375px) {
  .flex-component {
    margin: 0px 16px;
  }
}
